<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Cute Slider</title>
		
		<link rel="stylesheet" href="style/main.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<link rel="stylesheet" href="style/slider-style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
		
		<script src="js/modernizr.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cute/cute.slider.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cute/cute.transitions.all.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/respond.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
			/* -------------------------------------
			 * Slider Style
			 * ------------------------------------*/
			 
			.cute-slider{
				margin-top:50px;
			}
			
			.wrapper{
				margin:0 auto;
				max-width:800px;
				min-width:300px;
				position: relative;
			}
			
			#slider_wrapper{
				position: absolute;
				left:0;
				right:73px;
			}

		</style>
		
	</head>
	<body>
		<div class="wrapper" >
			<div id="slider_wrapper">
				<div id="slider" class="cute-slider" data-width="717" data-height="403" data-force="">
					<ul data-type="slides">
								<li data-delay="4" data-trans3d="tr2,tr20,tr57" data-trans2d="tr1,tr14,tr26">
									<img src="images/1.png" data-thumb="images/thumbs/1.png	"/>
									<ul data-type="captions">
										<li class="caption1" data-effect="fade">
											lorem ipsum dolor
										</li>
									</ul>
								</li>
								<li data-delay="4" data-trans3d="tr4,tr21,tr62" data-trans2d="tr5,tr23,tr30">
									<img src="cute-theme/blank.jpg" data-src="images/2.png" data-thumb="images/thumbs/2.png"/>
									<ul data-type="captions">
										<li class="caption2" data-effect="fade">
											LOREM IPSUM DOLOR
										</li>
									</ul>
								</li>
								<li data-delay="5" data-trans3d="tr17,tr46,tr64" data-trans2d="tr7,tr32,tr40">
									<img src="cute-theme/blank.jpg" data-src="images/3.png" data-thumb="images/thumbs/3.png"/>
									<ul data-type="captions">
										<li class="caption3" data-effect="fade">
											Lorem Ipsum Dolor
										</li>
									</ul>
								</li>
								<li data-delay="4" data-trans3d="tr8,tr19" data-trans2d="tr15,tr3,tr38">
									<img src="cute-theme/blank.jpg" data-src="images/4.png" data-thumb="images/thumbs/4.png"/>
									<ul data-type="captions">
										<li class="caption4" data-effect="fade">
											lorem ipsum dolor
										</li>
									</ul>	
								</li>
								<li data-delay="6" data-trans3d="tr10,tr49,tr58" data-trans2d="tr2,tr16,tr27">
									<img src="cute-theme/blank.jpg" data-src="images/5.png" data-thumb="images/thumbs/5.png"/>
									<ul data-type="captions">
										<li class="caption5" data-effect="fade">
											lorem ipsum dolor
										</li>
									</ul>
								</li>
								<li data-delay="4" data-trans3d="tr11,tr61,tr46" data-trans2d="tr12,tr24,tr35">
									<img src="cute-theme/blank.jpg" data-src="images/6.png" data-thumb="images/thumbs/6.png"/>
									<ul data-type="captions">
										<li class="caption6" data-effect="fade">
											LOREM IPSUM DOLOR
										</li>
									</ul>
								</li>
								<li data-delay="7" data-trans3d="tr25,tr48,tr23" data-trans2d="tr29,tr20,tr41">
									<img src="cute-theme/blank.jpg" data-src="images/7.png" data-thumb="images/thumbs/7.png"/>
									<ul data-type="captions">
										<li class="caption7" data-effect="fade">
											Lorem Ipsum Dolor
										</li>
									</ul>
								</li>
								<li data-delay="4" data-trans3d="tr24,tr32,tr1" data-trans2d="tr9,tr18,tr39">
									<img src="cute-theme/blank.jpg" data-src="images/8.png" data-thumb="images/thumbs/8.png"/>
									<ul data-type="captions">
										<li class="caption8" data-effect="fade">
											lorem ipsum dolor
										</li>
									</ul>
								</li>
								<li data-delay="6" data-trans3d="tr52,tr16,tr60" data-trans2d="tr28,tr5,tr38">
									<img src="cute-theme/blank.jpg" data-src="images/9.png" data-thumb="images/thumbs/9.png"/>
									<ul data-type="captions">
										<li class="caption9" data-effect="fade">
											LOREM IPSUM DOLOR
										</li>
									</ul>
								</li>
							</ul>
					<ul data-type="controls">			
						<li data-type="captions"> </li>
						<li data-type="slideinfo" data-effect="fade"> </li>
						<li data-type="circletimer" data-color="#333333" data-stroke="13"> </li>
						<li data-type="next"> </li>
						<li data-type="previous"> </li>
						<li data-type="thumblist" data-dir="vertical" data-autohide="true"> </li>				
					</ul>
					<!--<div class="br-shadow"> </div>-->
				</div>
			</div>
		</div>			
	<script>
		var slider = new Cute.Slider();
		slider.setup("slider" , "slider_wrapper");			
		slider.pause();
	</script>
	
	</body>
</html>
