<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Cute Slider</title>
		
		<link rel="stylesheet" href="style/main.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<link rel="stylesheet" href="style/slider-style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		
		<script src="js/modernizr.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cute/cute.slider.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cute/cute.transitions.all.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/respond.min.js" type="text/javascript" charset="utf-8"></script>
		
		<style>
			/* -------------------------------------
			 * Slider Style
			 * ------------------------------------*/
			 
			.cute-slider{
				margin-top:50px;
			}
			
			.wrapper{
				margin:0 auto;
				max-width:800px;
				min-width:300px;
				position: relative;
			}
			
			#slider_wrapper{
				position:absolute;
				left:0;
				right:273px;
			}

		</style>
		
	</head>
	<body>
		<div class="wrapper" >
			<div id="slider_wrapper">
				<div id="slider" class="cute-slider" data-width="610" data-height="400" data-force="">
					<ul data-type="slides">
								<li data-delay="4" data-trans3d="tr2,tr20,tr57" data-trans2d="tr1,tr14,tr26">
									<img src="images/1.jpg" data-thumb="images/thumbs/1.jpg	"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Macro Kingdom</h1>
										<p class="text">
											by Clemens Wirth
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/9152451?color=417c90"> </a>
								</li>
								<li data-delay="4" data-trans3d="tr4,tr21,tr62" data-trans2d="tr5,tr23,tr30">
									<img src="cute-theme/blank.jpg" data-src="images/2.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">EAT</h1>
										<p class="text">
											by Rick Mereki
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/27243869?color=417c90"> </a>
								</li>
								<li data-delay="5" data-trans3d="tr17,tr46,tr64" data-trans2d="tr7,tr32,tr40">
									<img src="cute-theme/blank.jpg" data-src="images/3.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Earth</h1>
										<p class="text">
											by Michael König
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/32001208?color=417c90"> </a>
								</li>
								<li data-delay="4" data-trans3d="tr8,tr19" data-trans2d="tr15,tr3,tr38">
									<img src="cute-theme/blank.jpg" data-src="images/4.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">I LOOK &amp; MOVE</h1>
										<p class="text">
											by Constantine Konovalov
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/31484170?color=417c90"> </a>
								</li>
								<li data-delay="6" data-trans3d="tr10,tr49,tr58" data-trans2d="tr2,tr16,tr27">
									<img src="cute-theme/blank.jpg" data-src="images/5.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Above Everything Else</h1>
										<p class="text">
											by Alex Roman
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/15630517?color=417c90"> </a>
								</li>
								<li data-delay="4" data-trans3d="tr11,tr61,tr46" data-trans2d="tr12,tr24,tr35">
									<img src="cute-theme/blank.jpg" data-src="images/6.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Macro kingdom II</h1>
										<p class="text">
											by Clemens Wirth
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/12849638?color=417c90"> </a>
								</li>
								<li data-delay="7" data-trans3d="tr25,tr48,tr23" data-trans2d="tr29,tr20,tr41">
									<img src="cute-theme/blank.jpg" data-src="images/7.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Hello Little Printer</h1>
										<p class="text">
											by BERG
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/32796535?color=417c90"> </a>
								</li>
								<li data-delay="4" data-trans3d="tr24,tr32,tr1" data-trans2d="tr9,tr18,tr39">
									<img src="cute-theme/blank.jpg" data-src="images/8.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">Operation: Toyland</h1>
										<p class="text">
											by Clemens Wirth
										</p>
									</div>	
									<a data-type="video" href="http://player.vimeo.com/video/5967029?color=417c90"> </a>
								</li>
								<li data-delay="6" data-trans3d="tr52,tr16,tr60" data-trans2d="tr28,tr5,tr38">
									<img src="cute-theme/blank.jpg" data-src="images/9.jpg"/>
									<div data-type="info" class="info1" data-align="right">
										<h1 class="title">30 Motion Tests</h1>
										<p class="text">
											by Steffen K
										</p>
									</div>
									<a data-type="video" href="http://player.vimeo.com/video/17411241?color=417c90"> </a>
								</li>
							</ul>
					<ul data-type="controls">			
						<li data-type="video"> </li>
						<li data-type="circletimer" data-color="#333333" data-stroke="13"> </li>
						<li data-type="next"> </li>
						<li data-type="previous"> </li>
						<li data-type="infolist" data-dir="vertical"> </li>
					</ul>
				</div>
			</div>
		</div>		
				
		<script>
			var slider = new Cute.Slider();
			slider.setup("slider" , "slider_wrapper");			
			slider.pause();
		</script>
	
	</body>
</html>
